# Core functionality - changes here should be rare!
/src/app.py                   @myarch2025
/src/backend/database.py      @myarch2025
/src/backend/routers/auth.py  @myarch2025

# The frontend will need refactored soon to be more object oriented.
/src/static/   @myarch2025
